@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.form-group{
   font-family: 'Montserrat', sans-serif;
   padding-bottom: 15px;
   padding-top: 20px; 
   justify-content: center;
}

.container{
    justify-content: center;
}

.col{
    justify-content: center;
}

 /* bt Cadastro */ 

.btn-success {
  text-align: center;
  background-color: #d1d1d3;
  color: #000000;
  font-size: 1.0em;
  width: 170px;
  height: 60px;
  border: 10px rgb(45, 16, 211);
  border-radius: 1000px;
  transition: 0.42s; 
  font-weight: bolder;
}

  .btn-success:hover {
      background-color:rgb(50,205,50);
      color: #FFFFFF;
      border: 3px rgb(38, 10, 197);
      border-radius: 1000px;
      cursor: pointer;
  }

  
 /* Footer */  

.footer{
    background: rgb(11, 4, 104);
    height: auto;
    width: 100%;
    font-family: "Roboto";

    color: #fff;
  }
  .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  .footer-content h3{
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
  }
  .footer-content p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
  }
.socials{
  position: relative;
  right: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .socials li{
      margin: 0 10px;
  }
  .socials a{
      text-decoration: none;
      color: #fff;
  }
  .socials a i{
      font-size: 1.1rem;
      transition: color .4s ease;
  }
  .socials a:hover i{
      color: rgb(218, 57, 57);
  }
  
  .footer-bottom{
      background: rgb(25, 46, 138);
      width: 100%;
      padding: 20px 0;
      text-align: center;
  }
  .footer-bottom p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
      color: #FFFFFF;
  }
  .footer-bottom span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
  }
 